<div class="container">
	<div class ="row">
		<%= search_form_for @search,enforce_utf8: false, url:search_result_path do |f| %>
		<!-- false時にurlにutfを表示させない -->
			<div class="col-xs-3">
			</div>
			<div class="col-xs-6">
				<%= f.condition_fields do |c| %>
				<%= f.label :name_cont, 'ユーザー検索' %>
				<!-- attributes -->
				<%= c.attribute_fields do |a| %>
				<%= a.attribute_select %>
				<% end %>

				<!--述語部分-->
				<%= c.predicate_select %>

				<%= c.value_fields do |v| %>
				<%= f.search_field :name_cont, class: 'form-control' %>
				<% end %>
				<% end %>
				<%= f.submit '検索', class: 'btn btn-default' %>
		<% end %>
	</div>
</div>
