<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h2>User info</h2>
			<%= render 'users/profile', user: @user %>
			<h2>New book</h2>
			<%= render 'books/newform', book: Book.new %>
		</div>
		<div class="col-xs-9">
		<!--users一覧 -->
			<h2><%= @user.name %>'s <%= @title %></h2>
			<%= render 'users/show_follow_users', users: @users %>
		</div>
	</div>
</div>
