<ol>
<tr id="book_comment-<%= book_comment.id %>">
    <% book.book_comments.each do |book_comment| %>
            <li >
            <%= link_to book_comment.user.name, user_path(book_comment.user_id) %>
                <span class="comment-meta">
                     <span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
                </span>
                <div class="comment-entry"><%= book_comment.comment %>
                <% if book_comment.user == current_user %>
                <%= link_to "削除", book_book_comments_path(book), method: :delete,remote: true, class: "btn btn-danger delete" %>
                </div>
            <% end %>
        </li>
    <% end %>
</tr>
</ol>
